---
layout: base
---

<header class="section spot-color-secondary">
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="prose text-center">
        <h1 class="fade-in">{{ title }}</h1>
      </section>
    </div>
  </div>

  {% include 'svg/divider-pixels.svg' %}
</header>

<article class="wrapper region">
  <div class="academia inner-page">
    <div class="row">
      <div class="span12">
        <h2>Academia</h2>
        <h3>Courses</h3>
        <ul>
          {# {{#each courses}}
            <li>
              <b>[{{lectiveSemester}}]</b>
            </li>
            <ul>
              {{#each courses}}
                <li>
                  <b>
                    {{acronym}}:
                      <a {{bindAttr href="webLink"}}>{{name}}</a>
                  </b>
                    ({{curricularSemester}} curricular semester)
                </li>
              {{/each}}
            </ul>
          {{/each}} #}
        </ul>

        <h3>Projecto e Seminário [LEIC] (pós-bolonha)</h3>

        <h4>Ano Lectivo: 2008-2009</h4>
        <ul>
          <li>
            <b>Nome: </b>Social Event Aggregator (SEA)<br>
            <b>Alunos: </b>Igor Cândido e Diogo Silva<br>
            <b>Função: </b>Orientador, em conjunto com o Eng. Pedro Félix<br>
          </li>
          <li>
            <b>Nome: </b>Organizador Pessoal de Documentos Suportado por Classificação Automática (BookSmarTk)<br>
            <b>Alunos: </b>Igor Soarez e Rui Fonseca<br>
            <b>Função: </b>Orientador, em conjunto com o Eng. Artur Ferreira<br>
          </li>
          <li>
            <b>Nome: </b>Marine Sustainability<br>
            <b>Alunos: </b>Filie Ventura, Nuno Ildefonso e Rúben Freire<br>
            <b>Função: </b>Orientador, em conjunto com o Eng. Luís Falcão<br>
          </li>
          <li>
            <b>Nome: </b>
            <span style="text-decoration:line-through">XMLSchema editor (web)</span> (cancelado pelo aluno)<br>
            <b>Alunos: </b>Sérgio Cardoso<br>
            <b>Função: </b>Orientador, em conjunto com o Eng. Pedro Félix<br>
          </li>
        </ul>

        <h4>Ano Lectivo: 2007-2008</h4>
        <ul>
          <li>
            <b>Nome: </b>Ferramenta para ilustração do funcionamento do algoritmo de <em>Ray Tracing</em><br>
            <b>Alunos: </b>Diogo Marques<br>
            <b>Função: </b>Orientador<br>
          </li>
          <li>
            <b>Nome: </b>Navegação em Cena Interior Usando Partição Binária do Espaço (NECI)<br>
            <b>Alunos: </b>Jorge Graça e Vitor Santos<br>
            <b>Função: </b>Orientador<br>
          </li>
          <li>
            <b>Nome: </b>Registo Fotográfico Urbano<br>
            <b>Alunos: </b>André Matos, João Duarte e André Santinho<br>
            <b>Função: </b>Orientador, em conjunto com o Eng. João Trindade<br>
          </li>
          <li>
            <b>Nome: </b>Gestor de Mapas de Exames<br>
            <b>Alunos: </b>
            <span style="text-decoration:line-through">Alberto Viegas</span> e Vitor Chixaro<br>
            <b>Função: </b>Orientador, em conjunto com o Eng. João Trindade<br>
          </li>
        </ul>

        <h4>Ano Lectivo: 2006-2007</h4>
        <ul>
          <li>
            <b>Nome: </b>RFU: Registo Fotográfico Urbano<br>
            <b>Alunos: </b>Gustavo Castelo e João Frade<br>
            <b>Função: </b>Orientador, em conjunto com o Eng. Pedro Pereira<br>
          </li>
          <li>
            <b>Nome: </b>Auxilium: Desenvolvimento de uma aplicação web que presta o serviço de agenda<br>
            <b>Alunos: </b>Aldo Tita e David Mestre<br>
            <b>Função: </b>Arguente<br>
          </li>
          <li>
            <b>Nome: </b>MagicGate: Aplicação Web de páginas personalizáveis<br>
            <b>Alunos: </b>Hugo Raimundo e David Duque<br>
            <b>Função: </b>Arguente<br>
          </li>
        </ul>

        <h3>Projectos Finais de curso Orientados (pré-bolonha)</h3>
        <h4>Ano Lectivo: 2006-2007</h4>

        <ul>
          <li>
            <b>Nome: </b>CAAS: Context-Aware Alert Service (Serviço de alertas baseados no contexto)<br>
            <b>Alunos: </b>Cristina Martins<br>
            <b>Função: </b>Arguente<br>
          </li>
          <li>
            <b>Nome: </b>COOL: Infra-estrutura para divulgação de sites relevantes<br>
            <b>Alunos: </b>Nelson Correia e Benjamim Mendes<br>
            <b>Função: </b>Co-orientador, em conjunto com o Eng. Luís Falcão<br>
          </li>
        </ul>

        <h4>Ano Lectivo: 2005-2006</h4>
        <ul>
          <li>
            <b>Nome: </b>AJAX: Plataforma para o desenvolvimento de aplicações Web com a técnica AJAX<br>
            <b>Alunos: </b>Luís Trindade e Ricardo Reis<br>
            <b>Função: </b>Orientador, em conjunto com o Eng. Luís Falcão<br>
          </li>
        </ul>
      </div>
    </div>
  </article>